#air-datepicker-global-container > div > div .air-datepicker {
  z-index: 101;
}
#air-datepicker-global-container > div > div.air-datepicker--content > div > .air-datepicker-body--cells.-days- > div.air-datepicker-cell.-day-.-current-,
#air-datepicker-global-container > div > div .air-datepicker--content > div > .air-datepicker-body--cells.-days- > div.air-datepicker-cell.-day-.-current- {
  color: #2f80ed !important;
  font-weight: bold;
}
#air-datepicker-global-container > div > div.air-datepicker--content > div > .air-datepicker-body--cells.-days- > div.air-datepicker-cell.-day-.-selected-,
#air-datepicker-global-container > div > div .air-datepicker--content > div > .air-datepicker-body--cells.-days- > div.air-datepicker-cell.-day-.-selected- {
  background-color: #2f80ed !important;
  color: white !important;
  font-weight: bold;
}
#air-datepicker-global-container > div > div.air-datepicker--content > div > div.air-datepicker-body--day-names > div.air-datepicker-body--day-name,
#air-datepicker-global-container > div > div .air-datepicker--content > div > div.air-datepicker-body--day-names > div.air-datepicker-body--day-name {
  color: #2f80ed !important;
}
#air-datepicker-global-container > div > div.air-datepicker--buttons .air-datepicker-buttons .air-datepicker-button.custom-button-classname,
#air-datepicker-global-container > div > div .air-datepicker--buttons .air-datepicker-buttons .air-datepicker-button.custom-button-classname {
  background-color: #2f80ed !important;
  color: white;
  font-weight: bold;
  text-align: center;
}
#air-datepicker-global-container > div > div.air-datepicker--buttons .air-datepicker-buttons .air-datepicker-button.custom-button-classname span,
#air-datepicker-global-container > div > div .air-datepicker--buttons .air-datepicker-buttons .air-datepicker-button.custom-button-classname span {
  margin: 0 auto;
  width: 100%;
  color: white;
  text-align: center;
}

.fullscreen_tooltip {
  transform: unset !important;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
}

.fullscreen_tooltip {
  transform: unset !important;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
}

@-webkit-keyframes flash {
  0%, 50%, 95% {
    opacity: 1 !important;
  }
  25%, 75%, 100% {
    opacity: 0 !important;
  }
}
@keyframes screenshotflash {
  0%, 50%, 100% {
    opacity: 1 !important;
  }
  25%, 75% {
    opacity: 0 !important;
  }
}
.markerLabel_break_words {
  max-width: 130px;
  white-space: normal;
}

.screenshotflash {
  -webkit-animation-name: screenshotflash;
  animation-name: screenshotflash;
}

.main-wrapper.mapindex .accordion-button-no-chevron, .main-wrapper.mapshow .accordion-button-no-chevron {
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}
.main-wrapper.mapindex .map_save_tooltip li.tab, .main-wrapper.mapshow .map_save_tooltip li.tab {
  margin-right: 1em;
  transform: translate(5px, 0);
  background: white;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-radius: 0.25em;
  padding-right: 1em;
  padding-bottom: 0.3em;
  padding-top: 0;
  height: 2em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.main-wrapper.mapindex .map_save_tooltip li.tab.active, .main-wrapper.mapshow .map_save_tooltip li.tab.active {
  transform: translate(5px, 1px);
  border-bottom: white;
}
.main-wrapper.mapindex .container-fluid, .main-wrapper.mapshow .container-fluid {
  padding-left: 5px;
  padding-right: 5px;
}
.main-wrapper.mapindex .container-fluid .map_outer_container.animated, .main-wrapper.mapshow .container-fluid .map_outer_container.animated {
  width: 2160px !important;
  min-width: 200%;
  min-height: 200%;
  right: unset;
  bottom: unset;
  height: 1280px !important;
}
.main-wrapper.mapindex .container-fluid .map_outer_container.animated .gmnoprint, .main-wrapper.mapshow .container-fluid .map_outer_container.animated .gmnoprint {
  display: none !important;
}
.main-wrapper.mapindex .container-fluid .map_outer_container.screenshotflash, .main-wrapper.mapshow .container-fluid .map_outer_container.screenshotflash {
  -webkit-animation-name: screenshotflash;
  animation-name: screenshotflash;
}
.main-wrapper.mapindex .container-fluid .map_outer_container #map_container #take_screenshot, .main-wrapper.mapshow .container-fluid .map_outer_container #map_container #take_screenshot {
  top: 0 !important;
  right: 50px !important;
}
.main-wrapper.mapindex .container-fluid .map_outer_container #map_container #fit_bounds, .main-wrapper.mapshow .container-fluid .map_outer_container #map_container #fit_bounds {
  top: 0 !important;
  right: 100px !important;
}
.main-wrapper.mapindex .container-fluid .map_outer_container #map_container .fullscreen_parent, .main-wrapper.mapshow .container-fluid .map_outer_container #map_container .fullscreen_parent {
  border-top: 3px solid rgb(251, 251, 251);
  border-bottom: 3px solid rgb(251, 251, 251);
  border-left: 4px solid rgb(251, 251, 251);
  border-right: 4px solid rgb(251, 251, 251);
  right: -8px !important;
}
.main-wrapper.mapindex .container-fluid .map_outer_container #map_container.controls_closed .gmnoprint[role=menubar], .main-wrapper.mapshow .container-fluid .map_outer_container #map_container.controls_closed .gmnoprint[role=menubar] {
  display: none;
}
.main-wrapper.mapindex .container-fluid .map_outer_container #map_container div.gm-style-iw.gm-style-iw-c > button, .main-wrapper.mapshow .container-fluid .map_outer_container #map_container div.gm-style-iw.gm-style-iw-c > button {
  font-size: 1.4em;
  font-size: 1.3rem;
  border-radius: 8px;
  top: -5px;
  right: 14px;
  opacity: 0.7;
  top: -5px !important;
  right: 0px !important;
  transform: scale(1.1);
}
.main-wrapper.mapindex .container-fluid .map_outer_container #map_container div.gm-style-iw.gm-style-iw-c > button:hover, .main-wrapper.mapshow .container-fluid .map_outer_container #map_container div.gm-style-iw.gm-style-iw-c > button:hover {
  opacity: 0.8;
  transform: scale(1.2);
  top: -1px !important;
  right: 2px !important;
}
.main-wrapper.mapindex .container-fluid .map_outer_container #map_container div.gm-style-iw.gm-style-iw-c > button > span, .main-wrapper.mapshow .container-fluid .map_outer_container #map_container div.gm-style-iw.gm-style-iw-c > button > span {
  -webkit-mask-image: unset !important;
  pointer-events: none;
  display: block;
  width: 18px !important;
  height: 18px !important;
  margin: 8px 1px 0 0;
  border: 2px solid white;
  padding: 2px !important;
  transform: scale(1.5);
  opacity: 1;
  border-radius: 8px;
  background: white;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012z%22/%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22/%3E%3C/svg%3E");
  background-size: contain;
  background-position: left center;
}
.main-wrapper.mapindex .container-fluid .map_outer_container #map_container div.gm-style-iw.gm-style-iw-c > button > span:hover, .main-wrapper.mapshow .container-fluid .map_outer_container #map_container div.gm-style-iw.gm-style-iw-c > button > span:hover {
  border: 1px solid #ccc;
}
.main-wrapper.mapindex .container-fluid .map_outer_container #map_container .gm-style #map_controls, .main-wrapper.mapshow .container-fluid .map_outer_container #map_container .gm-style #map_controls {
  display: flex;
  flex-direction: column;
  transform: translate(0, 0);
  top: unset !important;
}
.main-wrapper.mapindex .container-fluid .map_outer_container #map_container .gm-style #map_controls .ts-wrapper.maptype_selector, .main-wrapper.mapshow .container-fluid .map_outer_container #map_container .gm-style #map_controls .ts-wrapper.maptype_selector {
  cursor: pointer;
}
.main-wrapper.mapindex .container-fluid .map_outer_container #map_container .gm-style #map_controls .ts-wrapper.maptype_selector input[type=select-one], .main-wrapper.mapshow .container-fluid .map_outer_container #map_container .gm-style #map_controls .ts-wrapper.maptype_selector input[type=select-one] {
  display: none;
  width: 0;
  height: 0;
}
.main-wrapper.mapindex .container-fluid .map_outer_container #map_container .gm-style #map_controls .ts-wrapper.maptype_selector .ts-control, .main-wrapper.mapshow .container-fluid .map_outer_container #map_container .gm-style #map_controls .ts-wrapper.maptype_selector .ts-control {
  font-size: 1.1em;
  text-indent: 0.6em;
  cursor: pointer;
  padding-left: 0;
  background-position: 94% center !important;
}
.main-wrapper.mapindex .container-fluid .map_outer_container #map_container .gm-style #map_controls .ts-wrapper.maptype_selector .ts-control::before, .main-wrapper.mapshow .container-fluid .map_outer_container #map_container .gm-style #map_controls .ts-wrapper.maptype_selector .ts-control::before {
  font-family: "Font Awesome 5 Free";
  content: "\f279";
}
.main-wrapper.mapindex .container-fluid .map_outer_container #map_container .gm-style #map_controls .ts-wrapper.maptype_selector .ts-dropdown, .main-wrapper.mapshow .container-fluid .map_outer_container #map_container .gm-style #map_controls .ts-wrapper.maptype_selector .ts-dropdown {
  max-height: 400px;
}
.main-wrapper.mapindex .container-fluid .map_outer_container #map_container .gm-style #map_controls .ts-wrapper.maptype_selector .ts-dropdown .ts-dropdown-content, .main-wrapper.mapshow .container-fluid .map_outer_container #map_container .gm-style #map_controls .ts-wrapper.maptype_selector .ts-dropdown .ts-dropdown-content {
  max-height: 400px;
}
.main-wrapper.mapindex .container-fluid .map_outer_container #map_container .gm-style #map_controls .layercontrols .controls_label, .main-wrapper.mapshow .container-fluid .map_outer_container #map_container .gm-style #map_controls .layercontrols .controls_label {
  flex-basis: 75px;
  text-align: right;
  padding-right: 10px;
  font-size: 0.85rem;
}
.main-wrapper.mapindex .container-fluid .map_outer_container #map_container .gm-style #map_controls .layercontrols .iconpicker.ts-wrapper .ts-control, .main-wrapper.mapshow .container-fluid .map_outer_container #map_container .gm-style #map_controls .layercontrols .iconpicker.ts-wrapper .ts-control {
  background-image: none;
  background: white !important;
  border-radius: 2px;
  padding: 0 !important;
  width: 28px;
  height: 26px;
  align-items: center;
  justify-content: center;
  ring-width: 0;
  nargin-top: 2px;
  color: inherit;
  margin-bottom: -7px;
}
.main-wrapper.mapindex .container-fluid .map_outer_container #map_container .gm-style #map_controls .layercontrols .iconpicker.ts-wrapper .ts-control input[type=select-one], .main-wrapper.mapshow .container-fluid .map_outer_container #map_container .gm-style #map_controls .layercontrols .iconpicker.ts-wrapper .ts-control input[type=select-one] {
  display: none;
  width: 0;
  height: 0;
}
.main-wrapper.mapindex .container-fluid .map_outer_container #map_container .gm-style #map_controls .layercontrols .iconpicker.ts-wrapper .ts-dropdown, .main-wrapper.mapshow .container-fluid .map_outer_container #map_container .gm-style #map_controls .layercontrols .iconpicker.ts-wrapper .ts-dropdown {
  width: 500px;
}
.main-wrapper.mapindex .container-fluid .map_outer_container #map_container .gm-style #map_controls .layercontrols .iconpicker.ts-wrapper .ts-dropdown .ts-dropdown-content, .main-wrapper.mapshow .container-fluid .map_outer_container #map_container .gm-style #map_controls .layercontrols .iconpicker.ts-wrapper .ts-dropdown .ts-dropdown-content {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}
.main-wrapper.mapindex .container-fluid .map_outer_container #map_container .gm-style #map_controls .layercontrols .iconpicker.ts-wrapper .ts-dropdown .ts-dropdown-content .option, .main-wrapper.mapshow .container-fluid .map_outer_container #map_container .gm-style #map_controls .layercontrols .iconpicker.ts-wrapper .ts-dropdown .ts-dropdown-content .option {
  font-size: 1.4rem;
  flex-basis: 45px;
}
.main-wrapper.mapindex .container-fluid .map_outer_container #map_container .gmnoprint .mapType, .main-wrapper.mapshow .container-fluid .map_outer_container #map_container .gmnoprint .mapType {
  font-weight: normal;
}
.main-wrapper.mapindex .container-fluid .map_outer_container #map_container .gmnoprint.ShiftWorkerMap .mapType.ShiftWorkerMap, .main-wrapper.mapshow .container-fluid .map_outer_container #map_container .gmnoprint.ShiftWorkerMap .mapType.ShiftWorkerMap {
  font-weight: bold;
}
.main-wrapper.mapindex .container-fluid .map_outer_container #map_container .gmnoprint.BentleyMap .mapType.BentleyMap, .main-wrapper.mapshow .container-fluid .map_outer_container #map_container .gmnoprint.BentleyMap .mapType.BentleyMap {
  font-weight: bold;
}
.main-wrapper.mapindex .container-fluid .map_outer_container #map_container .gmnoprint.LightBlueMap .mapType.LightBlueMap, .main-wrapper.mapshow .container-fluid .map_outer_container #map_container .gmnoprint.LightBlueMap .mapType.LightBlueMap {
  font-weight: bold;
}
.main-wrapper.mapindex .container-fluid .map_outer_container #pano .gm-bundled-control.gm-bundled-control-on-bottom, .main-wrapper.mapshow .container-fluid .map_outer_container #pano .gm-bundled-control.gm-bundled-control-on-bottom {
  bottom: 205px !important;
}
.main-wrapper.mapindex .container-fluid .map_outer_container > #map_controls, .main-wrapper.mapshow .container-fluid .map_outer_container > #map_controls {
  display: none;
}
/*# sourceMappingURL=map_view.css.map */