<template id="map_controls_template">
    <div id="map_controls" style="transition: left 0.4s ease 0s; position: absolute; top: 60px; left: 0px;" x-show="full_map" x-data="{
            
                            
        init() {
           
            globalThis.mapControls = this;
    
        }
    
    }" :class="{
        'pl-[15px]': mapDialogOpen &amp;&amp; googleReady,
        'pr-[5px]': mapDialogOpen &amp;&amp; googleReady,
        '-left-[240px]': !mapDialogOpen,
        '-left-[270px]': !googleReady,
        '-left-[5px]': mapDialogOpen &amp;&amp; googleReady,
    }" class="bg-white max-w-[400px] min-w-[270px] shadow-lg border min-h-[400px] pl-4 pt-2 absolute pl-[15px] pr-[5px] -left-[5px]">
    <div class="uppercase max-w-[125px] text-gray-500 markerLabel_break_words markerLabel bg-transparent   p-1 bg-opacity-10"></div>
    <div class="uppercase max-w-[125px] text-gray-500 markerLabel_break_words markerLabel bg-gray-200   p-1 bg-opacity-50"></div>
<style>
                .icon_preview_container {
                    border: 1px solid #ccc;
                    border-left-color: white;
                    left: 250px;
                    transform: translate(4px, -5px);
                    background: white;
                    max-height: 90px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    align-items: center;
                }

                .icon_preview_container img {
                    transform: scale(0.9);
                }
            </style>

            <select id="maptype_selector" class="font-normal radius-1 text-left ml-2 mb-2 fs-1rem cursor-pointer maptype_selector tomselected ts-hidden-accessible" x-ref="maptype_selector" x-model="mapTypeId" tabindex="-1"><option value="Grass">Grass Map</option></select><div class="ts-wrapper font-normal radius-1 text-left ml-2 mb-2 fs-1rem cursor-pointer maptype_selector single input-hidden full has-items"><div class="ts-control"><div data-value="Grass" class="item" data-ts-item="">Grass Map</div><input type="select-one" autocomplete="off" size="1" tabindex="0" role="combobox" aria-haspopup="listbox" aria-expanded="false" aria-controls="maptype_selector-ts-dropdown" id="maptype_selector-ts-control"></div><div class="ts-dropdown single" style="display: none;"><div role="listbox" tabindex="-1" class="ts-dropdown-content" id="maptype_selector-ts-dropdown"></div></div></div>

            <template x-for="({checked, slug_name,url, name, path, layer_options, criteria,type },index) in $store.public_maps.layer_array" :key="slug_name">
                <span class="flex flex-col map_collapsible">
                    <template x-if="type==='deals'">
                        <div x-id="['map-layer']" x-data="PublicLayerDeals({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked">

                                <i class="mr-2 collapsible_tooltip fontello" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class=""></label>
                            </div>

                        </div>


                    </template>
                    <template x-if="type==='barrios'">
                        <div x-id="['map-layer']" x-data="PublicLayerBarrios({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked">

                                <i class="mr-2 collapsible_tooltip fontello" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class=""></label>
                            </div>

                        </div>


                    </template>
                    <template x-if="type==='geojson'">
                        <div x-id="['map-layer']" x-data="PublicLayerGeoJson({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked">

                                <i class="mr-2 collapsible_tooltip fontello" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class=""></label>
                            </div>

                        </div>


                    </template>

                </span>
            </template><span class="flex flex-col map_collapsible">
                    <template x-if="type==='deals'">
                        <div x-id="['map-layer']" x-data="PublicLayerDeals({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked">

                                <i class="mr-2 collapsible_tooltip fontello" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class=""></label>
                            </div>

                        </div>


                    </template><div x-id="['map-layer']" x-data="PublicLayerDeals({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }" style="color:#3060ff">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked" name="map-layer-1" checked="checked">

                                <i class="mr-2 collapsible_tooltip fontello icon-building-filled" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class="" for="map-layer-1">Departamentos en Venta</label>
                            </div>

                        </div>
                    <template x-if="type==='barrios'">
                        <div x-id="['map-layer']" x-data="PublicLayerBarrios({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked">

                                <i class="mr-2 collapsible_tooltip fontello" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class=""></label>
                            </div>

                        </div>


                    </template>
                    <template x-if="type==='geojson'">
                        <div x-id="['map-layer']" x-data="PublicLayerGeoJson({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked">

                                <i class="mr-2 collapsible_tooltip fontello" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class=""></label>
                            </div>

                        </div>


                    </template>

                </span><span class="flex flex-col map_collapsible">
                    <template x-if="type==='deals'">
                        <div x-id="['map-layer']" x-data="PublicLayerDeals({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked">

                                <i class="mr-2 collapsible_tooltip fontello" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class=""></label>
                            </div>

                        </div>


                    </template><div x-id="['map-layer']" x-data="PublicLayerDeals({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }" style="color:#3060cf">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked" name="map-layer-2" checked="checked">

                                <i class="mr-2 collapsible_tooltip fontello icon-building-filled" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class="" for="map-layer-2">Departamentos en Arriendo</label>
                            </div>

                        </div>
                    <template x-if="type==='barrios'">
                        <div x-id="['map-layer']" x-data="PublicLayerBarrios({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked">

                                <i class="mr-2 collapsible_tooltip fontello" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class=""></label>
                            </div>

                        </div>


                    </template>
                    <template x-if="type==='geojson'">
                        <div x-id="['map-layer']" x-data="PublicLayerGeoJson({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked">

                                <i class="mr-2 collapsible_tooltip fontello" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class=""></label>
                            </div>

                        </div>


                    </template>

                </span><span class="flex flex-col map_collapsible">
                    <template x-if="type==='deals'">
                        <div x-id="['map-layer']" x-data="PublicLayerDeals({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked">

                                <i class="mr-2 collapsible_tooltip fontello" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class=""></label>
                            </div>

                        </div>


                    </template><div x-id="['map-layer']" x-data="PublicLayerDeals({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }" style="color:#109010">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked" name="map-layer-3" checked="checked">

                                <i class="mr-2 collapsible_tooltip fontello icon-home" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class="" for="map-layer-3">Casas en Venta</label>
                            </div>

                        </div>
                    <template x-if="type==='barrios'">
                        <div x-id="['map-layer']" x-data="PublicLayerBarrios({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked">

                                <i class="mr-2 collapsible_tooltip fontello" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class=""></label>
                            </div>

                        </div>


                    </template>
                    <template x-if="type==='geojson'">
                        <div x-id="['map-layer']" x-data="PublicLayerGeoJson({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked">

                                <i class="mr-2 collapsible_tooltip fontello" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class=""></label>
                            </div>

                        </div>


                    </template>

                </span><span class="flex flex-col map_collapsible">
                    <template x-if="type==='deals'">
                        <div x-id="['map-layer']" x-data="PublicLayerDeals({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked">

                                <i class="mr-2 collapsible_tooltip fontello" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class=""></label>
                            </div>

                        </div>


                    </template><div x-id="['map-layer']" x-data="PublicLayerDeals({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }" style="color:#107010">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked" name="map-layer-4" checked="checked">

                                <i class="mr-2 collapsible_tooltip fontello icon-home" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class="" for="map-layer-4">Casas en Arriendo</label>
                            </div>

                        </div>
                    <template x-if="type==='barrios'">
                        <div x-id="['map-layer']" x-data="PublicLayerBarrios({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked">

                                <i class="mr-2 collapsible_tooltip fontello" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class=""></label>
                            </div>

                        </div>


                    </template>
                    <template x-if="type==='geojson'">
                        <div x-id="['map-layer']" x-data="PublicLayerGeoJson({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked">

                                <i class="mr-2 collapsible_tooltip fontello" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class=""></label>
                            </div>

                        </div>


                    </template>

                </span><span class="flex flex-col map_collapsible">
                    <template x-if="type==='deals'">
                        <div x-id="['map-layer']" x-data="PublicLayerDeals({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked">

                                <i class="mr-2 collapsible_tooltip fontello" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class=""></label>
                            </div>

                        </div>


                    </template>
                    <template x-if="type==='barrios'">
                        <div x-id="['map-layer']" x-data="PublicLayerBarrios({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked">

                                <i class="mr-2 collapsible_tooltip fontello" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class=""></label>
                            </div>

                        </div>


                    </template><div x-id="['map-layer']" x-data="PublicLayerBarrios({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }" style="color:#666666">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked" name="map-layer-5" checked="checked">

                                <i class="mr-2 collapsible_tooltip fontello icon-puzzle" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class="" for="map-layer-5">Barrios</label>
                            </div>

                        </div>
                    <template x-if="type==='geojson'">
                        <div x-id="['map-layer']" x-data="PublicLayerGeoJson({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked">

                                <i class="mr-2 collapsible_tooltip fontello" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class=""></label>
                            </div>

                        </div>


                    </template>

                </span><span class="flex flex-col map_collapsible">
                    <template x-if="type==='deals'">
                        <div x-id="['map-layer']" x-data="PublicLayerDeals({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked">

                                <i class="mr-2 collapsible_tooltip fontello" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class=""></label>
                            </div>

                        </div>


                    </template>
                    <template x-if="type==='barrios'">
                        <div x-id="['map-layer']" x-data="PublicLayerBarrios({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked">

                                <i class="mr-2 collapsible_tooltip fontello" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class=""></label>
                            </div>

                        </div>


                    </template>
                    <template x-if="type==='geojson'">
                        <div x-id="['map-layer']" x-data="PublicLayerGeoJson({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked">

                                <i class="mr-2 collapsible_tooltip fontello" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class=""></label>
                            </div>

                        </div>


                    </template><div x-id="['map-layer']" x-data="PublicLayerGeoJson({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }" style="color:#009999">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked" name="map-layer-6" checked="checked">

                                <i class="mr-2 collapsible_tooltip fontello icon-graduation-cap" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class="" for="map-layer-6">Colegios</label>
                            </div>

                        </div>

                </span><span class="flex flex-col map_collapsible">
                    <template x-if="type==='deals'">
                        <div x-id="['map-layer']" x-data="PublicLayerDeals({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked">

                                <i class="mr-2 collapsible_tooltip fontello" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class=""></label>
                            </div>

                        </div>


                    </template>
                    <template x-if="type==='barrios'">
                        <div x-id="['map-layer']" x-data="PublicLayerBarrios({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked">

                                <i class="mr-2 collapsible_tooltip fontello" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class=""></label>
                            </div>

                        </div>


                    </template>
                    <template x-if="type==='geojson'">
                        <div x-id="['map-layer']" x-data="PublicLayerGeoJson({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked">

                                <i class="mr-2 collapsible_tooltip fontello" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class=""></label>
                            </div>

                        </div>


                    </template><div x-id="['map-layer']" x-data="PublicLayerGeoJson({ index, checked, slug_name, name, path, layer_options, criteria }, comunas)" class="border accordion flex flex-col ">

                            <div class="accordion-header  bg-gray-50 flex py-1 map_controls_layer" x-init="slug_name = slug_name" :style="'color:' + (length ? layer_options.strokeColor : '#aaa')" x-on:click="()=>{
                                                filters_open=!filters_open
                                            }" style="color:#993333">
                                <input :name="$id('map-layer')" type="checkbox" class="form-check-input  mr-2" x-on:click.stop="layer_options.checked=!layer_options.checked" x-model="layer_options.checked" :checked="layer_options.checked" name="map-layer-7" checked="checked">

                                <i class="mr-2 collapsible_tooltip fontello icon-subway" :class="{
                                [layer_options.className]:true
                            }" x-tooltip.theme.light="length+' registros'"></i><label style="transform: translate(0,1px)" :for="$id('map-layer')" x-text="name" class="" for="map-layer-7">Estaciones de Metro</label>
                            </div>

                        </div>

                </span>
            <div class="absolute h-full bg-gray-200 top-0 hover:bg-gray-300 z-10 w-[20px] left-0" :class="{
                'w-[30px]': !mapDialogOpen,
                'w-[20px]': mapDialogOpen,
                'right-0': !mapDialogOpen,
                'left-0': mapDialogOpen
            }" style="    border: 1px solid #aaa;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.9em;" x-on:click="()=>{
            $el.parentElement.classList.toggle('-left-[220px]')
            console.log({mapDialogOpen})
            mapDialogOpen = !mapDialogOpen
        }">
                <i class="fas fa-chevron-left" :class="{
                    'fa-chevron-right': !mapDialogOpen,
                    'fa-chevron-left': mapDialogOpen,
                }"></i>
            </div>


        </div>
</template>