.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.951000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.017000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.924000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.700000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls4{letter-spacing:-1.800000px;}
.ls6{letter-spacing:-0.320000px;}
.ls2{letter-spacing:-0.144000px;}
.ls1{letter-spacing:-0.108000px;}
.ls3{letter-spacing:-0.072000px;}
.ls0{letter-spacing:0.000000px;}
.ls5{letter-spacing:7.035760px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws5{word-spacing:-7.035760px;}
.ws7{word-spacing:-1.536000px;}
.ws6{word-spacing:-1.472000px;}
.ws11{word-spacing:-1.120000px;}
.ws9{word-spacing:-0.896000px;}
.ws10{word-spacing:-0.256000px;}
.ws12{word-spacing:-0.032000px;}
.ws0{word-spacing:0.000000px;}
.wsb{word-spacing:0.064000px;}
.ws3{word-spacing:0.072000px;}
.ws2{word-spacing:0.108000px;}
.ws1{word-spacing:0.144000px;}
.ws13{word-spacing:0.320000px;}
.wsa{word-spacing:1.216000px;}
.ws8{word-spacing:1.760000px;}
.ws4{word-spacing:1.800000px;}
.wsd{word-spacing:2.560000px;}
.wsf{word-spacing:3.456000px;}
.wsc{word-spacing:4.608000px;}
.wse{word-spacing:6.400000px;}
._0{margin-left:-1.800000px;}
._1{width:939.872000px;}
.fc2{color:rgb(255,255,255);}
.fc1{color:rgb(222,155,24);}
.fc0{color:rgb(57,53,54);}
.fs3{font-size:32.000000px;}
.fs2{font-size:35.178800px;}
.fs0{font-size:36.000000px;}
.fs1{font-size:37.556800px;}
.v0{vertical-align:0.000000pt;}
.ls4{letter-spacing:-2.400000pt;}
.ls6{letter-spacing:-0.426667pt;}
.ls2{letter-spacing:-0.192000pt;}
.ls1{letter-spacing:-0.144000pt;}
.ls3{letter-spacing:-0.096000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls5{letter-spacing:9.381013pt;}
.ws5{word-spacing:-9.381013pt;}
.ws7{word-spacing:-2.048000pt;}
.ws6{word-spacing:-1.962667pt;}
.ws11{word-spacing:-1.493333pt;}
.ws9{word-spacing:-1.194667pt;}
.ws10{word-spacing:-0.341333pt;}
.ws12{word-spacing:-0.042667pt;}
.ws0{word-spacing:0.000000pt;}
.wsb{word-spacing:0.085333pt;}
.ws3{word-spacing:0.096000pt;}
.ws2{word-spacing:0.144000pt;}
.ws1{word-spacing:0.192000pt;}
.ws13{word-spacing:0.426667pt;}
.wsa{word-spacing:1.621333pt;}
.ws8{word-spacing:2.346667pt;}
.ws4{word-spacing:2.400000pt;}
.wsd{word-spacing:3.413333pt;}
.wsf{word-spacing:4.608000pt;}
.wsc{word-spacing:6.144000pt;}
.wse{word-spacing:8.533333pt;}
._0{margin-left:-2.400000pt;}
._1{width:1253.162667pt;}
.fs3{font-size:44.166667pt;}
.fs2{font-size:46.905067pt;}
.fs0{font-size:48.000000pt;}
.fs1{font-size:50.075733pt;}
.y0{bottom:0.000000pt;}
.y13{bottom:10.927067pt;}
.y25{bottom:57.445333pt;}
.y24{bottom:189.551333pt;}
.y23{bottom:202.351333pt;}
.y22{bottom:215.151333pt;}
.y21{bottom:240.751333pt;}
.y20{bottom:253.551333pt;}
.y1f{bottom:266.351333pt;}
.y1e{bottom:279.151333pt;}
.y1d{bottom:291.951333pt;}
.y1c{bottom:317.551333pt;}
.y1b{bottom:330.351333pt;}
.y1a{bottom:343.151333pt;}
.y19{bottom:355.951333pt;}
.y18{bottom:368.751333pt;}
.y17{bottom:394.351333pt;}
.y16{bottom:407.151333pt;}
.y15{bottom:419.951333pt;}
.y14{bottom:432.751333pt;}
.y9{bottom:511.086533pt;}
.yb{bottom:534.438533pt;}
.yc{bottom:555.222533pt;}
.ya{bottom:575.634533pt;}
.y7{bottom:596.526533pt;}
.y8{bottom:618.114533pt;}
.y6{bottom:640.710533pt;}
.y5{bottom:660.114533pt;}
.y12{bottom:684.738434pt;}
.ye{bottom:730.926533pt;}
.yd{bottom:752.334533pt;}
.yf{bottom:773.562533pt;}
.y4{bottom:792.882533pt;}
.y11{bottom:814.397026pt;}
.y3{bottom:858.342533pt;}
.y2{bottom:877.554533pt;}
.y1{bottom:896.730533pt;}
.y10{bottom:918.454400pt;}
.h5{height:30.634667pt;}
.h4{height:34.432000pt;}
.h3{height:37.852389pt;}
.h1{height:38.736000pt;}
.h2{height:40.411117pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x1{left:56.602800pt;}
.x2{left:58.366800pt;}
.x4{left:61.201200pt;}
.x5{left:195.054667pt;}
.x3{left:324.761067pt;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls4{letter-spacing:-2.400000pt;}
.ls6{letter-spacing:-0.426667pt;}
.ls2{letter-spacing:-0.192000pt;}
.ls1{letter-spacing:-0.144000pt;}
.ls3{letter-spacing:-0.096000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls5{letter-spacing:9.381013pt;}
.ws5{word-spacing:-9.381013pt;}
.ws7{word-spacing:-2.048000pt;}
.ws6{word-spacing:-1.962667pt;}
.ws11{word-spacing:-1.493333pt;}
.ws9{word-spacing:-1.194667pt;}
.ws10{word-spacing:-0.341333pt;}
.ws12{word-spacing:-0.042667pt;}
.ws0{word-spacing:0.000000pt;}
.wsb{word-spacing:0.085333pt;}
.ws3{word-spacing:0.096000pt;}
.ws2{word-spacing:0.144000pt;}
.ws1{word-spacing:0.192000pt;}
.ws13{word-spacing:0.426667pt;}
.wsa{word-spacing:1.621333pt;}
.ws8{word-spacing:2.346667pt;}
.ws4{word-spacing:2.400000pt;}
.wsd{word-spacing:3.413333pt;}
.wsf{word-spacing:4.608000pt;}
.wsc{word-spacing:6.144000pt;}
.wse{word-spacing:8.533333pt;}
._0{margin-left:-2.400000pt;}
._1{width:1253.162667pt;}
.fs3{font-size:42.666667pt;}
.fs2{font-size:46.905067pt;}
.fs0{font-size:48.000000pt;}
.fs1{font-size:50.075733pt;}
.y0{bottom:0.000000pt;}
.y13{bottom:10.927067pt;}
.y25{bottom:57.445333pt;}
.y24{bottom:189.551333pt;}
.y23{bottom:202.351333pt;}
.y22{bottom:215.151333pt;}
.y21{bottom:240.751333pt;}
.y20{bottom:253.551333pt;}
.y1f{bottom:266.351333pt;}
.y1e{bottom:279.151333pt;}
.y1d{bottom:291.951333pt;}
.y1c{bottom:317.551333pt;}
.y1b{bottom:330.351333pt;}
.y1a{bottom:343.151333pt;}
.y19{bottom:355.951333pt;}
.y18{bottom:368.751333pt;}
.y17{bottom:394.351333pt;}
.y16{bottom:407.151333pt;}
.y15{bottom:419.951333pt;}
.y14{bottom:432.751333pt;}
.y9{bottom:511.086533pt;}
.yb{bottom:534.438533pt;}
.yc{bottom:555.222533pt;}
.ya{bottom:575.634533pt;}
.y7{bottom:596.526533pt;}
.y8{bottom:618.114533pt;}
.y6{bottom:640.710533pt;}
.y5{bottom:660.114533pt;}
.y12{bottom:684.738434pt;}
.ye{bottom:730.926533pt;}
.yd{bottom:752.334533pt;}
.yf{bottom:773.562533pt;}
.y4{bottom:792.882533pt;}
.y11{bottom:814.397026pt;}
.y3{bottom:858.342533pt;}
.y2{bottom:877.554533pt;}
.y1{bottom:896.730533pt;}
.y10{bottom:918.454400pt;}
.h5{height:30.634667pt;}
.h4{height:34.432000pt;}
.h3{height:37.852389pt;}
.h1{height:38.736000pt;}
.h2{height:40.411117pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x1{left:56.602800pt;}
.x2{left:58.366800pt;}
.x4{left:81.201200pt;}
.x5{left:195.054667pt;}
.x3{left:324.761067pt;}
}
