

.icon-adult:before { content: '\e816'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-basket-1:before { content: '\e80e'; } /* '' */
.icon-basket:before { content: '\e80d'; } /* '' */
.icon-belowground-rail:before { content: '\e80b'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-bus-1:before { content: '\e80c'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-child:before { content: '\e815'; } /* '' */
.icon-college:before { content: '\e813'; } /* '' */
.icon-commerical-building:before { content: '\e811'; } /* '' */
.icon-graduation-cap-1:before { content: '\e810'; } /* '' */
.icon-graduation-cap-2:before { content: '\e812'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-grocery-store:before { content: '\e81e'; } /* '' */
.icon-home-1:before { content: '\e801'; } /* '' */
.icon-home-2:before { content: '\e803'; } /* '' */
.icon-home-3:before { content: '\e804'; } /* '' */
.icon-home-4:before { content: '\e805'; } /* '' */
.icon-home-5:before { content: '\e806'; } /* '' */
.icon-home-6:before { content: '\e80f'; } /* '' */
.icon-home-circled:before { content: '\e807'; } /* '' */
.icon-home-outline:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e800'; } /* '' */
.icon-industrial-building:before { content: '\e822'; } /* '' */
.icon-iphone-home:before { content: '\e808'; } /* '' */
.icon-leaf:before { content: '\e80a'; } /* '' */
.icon-map-1:before { content: '\e818'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */
.icon-map:before { content: '\f279'; } /* '' */
.icon-person:before { content: '\e814'; } /* '' */
.icon-police:before { content: '\e82b'; } /* '' */
.icon-puzzle:before { content: '\f12e'; } /* '' */
.icon-school:before { content: '\e834'; } /* '' */
.icon-shop-1:before { content: '\e817'; } /* '' */
.icon-shop:before { content: '\e835'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-spread:before { content: '\f527'; } /* '' */
.icon-subway:before { content: '\f239'; } /* '' */
.icon-train:before { content: '\f238'; } /* '' */
.icon-tree-1:before { content: '\f1bb'; } /* '' */
.icon-tree-2:before { content: '\e83f'; } /* '' */
.icon-tree:before { content: '\e809'; } /* '' */
.icon-warehouse:before { content: '\e840'; } /* '' */