@use "./mixins.scss" as mixins;

#modal_help_solicitud_visita {
	--bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
		"Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));

	.nav {
		display: flex;
		flex-wrap: wrap;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
	}

	.nav-link {
		display: block;
		padding: 0.5rem 1rem;
		color: #0d6efd;
		text-decoration: none;
		transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

		&:hover,
		&:focus {
			color: #0a58ca;
		}

		&.disabled {
			color: #6c757d;
			pointer-events: none;
			cursor: default;
		}
	}

	.nav-tabs {
		border-bottom: 1px solid #dee2e6;

		.nav-link {
			margin-bottom: -1px;
			background: none;
			border: 1px solid transparent;
			border-top-left-radius: 0.25rem;
			border-top-right-radius: 0.25rem;

			&:hover,
			&:focus {
				border-color: #e9ecef #e9ecef #dee2e6;
				isolation: isolate;
			}

			&.disabled {
				color: #6c757d;
				background-color: transparent;
				border-color: transparent;
			}

			&.active {
				color: #495057;
				background-color: #fff;
				border-color: #dee2e6 #dee2e6 #fff;
			}
		}

		.nav-item.show .nav-link {
			color: #495057;
			background-color: #fff;
			border-color: #dee2e6 #dee2e6 #fff;
		}

		.dropdown-menu {
			margin-top: -1px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}

	.nav-pills {
		.nav-link {
			background: none;
			border: 0;
			border-radius: 0.25rem;

			&.active {
				color: #fff;
				background-color: #0d6efd;
			}
		}

		.show > .nav-link {
			color: #fff;
			background-color: #0d6efd;
		}
	}

	.nav-fill {
		> .nav-link,
		.nav-item {
			flex: 1 1 auto;
			text-align: center;
		}
	}

	.nav-justified {
		> .nav-link,
		.nav-item {
			flex-basis: 0;
			flex-grow: 1;
			text-align: center;
		}
	}

	--bs-blue: #0d6efd;
	--bs-indigo: #6610f2;
	--bs-purple: #6f42c1;
	--bs-pink: #d63384;
	--bs-red: #dc3545;
	--bs-orange: #fd7e14;
	--bs-yellow: #ffc107;
	--bs-green: #198754;
	--bs-teal: #20c997;
	--bs-cyan: #0dcaf0;
	--bs-white: #fff;
	--bs-gray: #6c757d;
	--bs-gray-dark: #343a40;
	--bs-primary: #0d6efd;
	--bs-secondary: #6c757d;
	--bs-success: #198754;
	--bs-info: #0dcaf0;
	--bs-warning: #ffc107;
	--bs-danger: #dc3545;
	--bs-light: #f8f9fa;
	--bs-dark: #212529;

	h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 0;
		margin-bottom: 0.5rem;
		font-weight: 500;
		line-height: 1.2;
		color: var(--bs-heading-color);
	}
	p {
		margin-top: 0;
		margin-bottom: 1rem;
	}
	.h5,
	h5 {
		font-size: 1.25rem;
	}
	.h6,
	h6 {
		font-size: 1rem;
	}
	@media (prefers-reduced-motion: reduce) {
		.nav-link {
			transition: none;
		}
	}
	.nav-fill .nav-item .nav-link,
	.nav-justified .nav-item .nav-link {
		width: 100%;
	}

	.tab-content > {
		.tab-pane {
			display: none;
			.fw500 {
				font-weight: 500;
			}
			.fs11 {
				font-size: 16px;
			}
			h5 {
				width: 100%;
				margin-top: 1em;
				padding-bottom: 0.3em;
				border-bottom: 1px solid #eee;
			}
			p {
				padding-left: 0.5em;
			}
			span.estado {
				color: var(--bs-heading-color);
			}
			span.subestado {
			}
			ul {
				list-style: disc;
				li,
				ol {
					strong {
						font-weight: 500;
						color: var(--bs-heading-color);
					}
					font-size: 15.5px;
					font-weight: 400;
					line-height: 25px;
					color: rgb(115, 115, 115);
					margin-bottom: 8px;
					margin-top: 8px;
				}
			}
		}

		.active {
			display: block;
		}
	}

	.navbar {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;

		> {
			.container,
			.container-fluid,
			.container-sm,
			.container-md,
			.container-lg,
			.container-xl,
			.container-xxl {
				display: flex;
				flex-wrap: inherit;
				align-items: center;
				justify-content: space-between;
			}
		}
	}

	.navbar-brand {
		padding-top: 0.3125rem;
		padding-bottom: 0.3125rem;
		margin-right: 1rem;
		font-size: 1.25rem;
		text-decoration: none;
		white-space: nowrap;
	}

	.navbar-nav {
		display: flex;
		flex-direction: column;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;

		.nav-link {
			padding-right: 0;
			padding-left: 0;
		}

		.dropdown-menu {
			position: static;
		}
	}

	.navbar-text {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}

	.navbar-collapse {
		flex-basis: 100%;
		flex-grow: 1;
		align-items: center;
	}

	.navbar-toggler {
		padding: 0.25rem 0.75rem;
		font-size: 1.25rem;
		line-height: 1;
		background-color: transparent;
		border: 1px solid transparent;
		border-radius: 0.25rem;
		transition: box-shadow 0.15s ease-in-out;

		&:hover {
			text-decoration: none;
		}

		&:focus {
			text-decoration: none;
			outline: 0;
			box-shadow: 0 0 0 0.25rem;
		}
	}

	@media (prefers-reduced-motion: reduce) {
		.navbar-toggler {
			transition: none;
		}
	}

	.navbar-toggler-icon {
		display: inline-block;
		width: 1.5em;
		height: 1.5em;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
	}

	.navbar-nav-scroll {
		max-height: var(--bs-scroll-height, 75vh);
		overflow-y: auto;
	}

	@media (min-width: 576px) {
		.navbar-expand-sm {
			flex-wrap: nowrap;
			justify-content: flex-start;

			.navbar-nav {
				flex-direction: row;

				.dropdown-menu {
					position: absolute;
				}

				.nav-link {
					padding-right: 0.5rem;
					padding-left: 0.5rem;
				}
			}

			.navbar-nav-scroll {
				overflow: visible;
			}

			.navbar-collapse {
				display: flex !important;
				flex-basis: auto;
			}

			.navbar-toggler {
				display: none;
			}
		}
	}

	@media (min-width: 768px) {
		.navbar-expand-md {
			flex-wrap: nowrap;
			justify-content: flex-start;

			.navbar-nav {
				flex-direction: row;

				.dropdown-menu {
					position: absolute;
				}

				.nav-link {
					padding-right: 0.5rem;
					padding-left: 0.5rem;
				}
			}

			.navbar-nav-scroll {
				overflow: visible;
			}

			.navbar-collapse {
				display: flex !important;
				flex-basis: auto;
			}

			.navbar-toggler {
				display: none;
			}
		}
	}

	@media (min-width: 992px) {
		.navbar-expand-lg {
			flex-wrap: nowrap;
			justify-content: flex-start;

			.navbar-nav {
				flex-direction: row;

				.dropdown-menu {
					position: absolute;
				}

				.nav-link {
					padding-right: 0.5rem;
					padding-left: 0.5rem;
				}
			}

			.navbar-nav-scroll {
				overflow: visible;
			}

			.navbar-collapse {
				display: flex !important;
				flex-basis: auto;
			}

			.navbar-toggler {
				display: none;
			}
		}
	}

	@media (min-width: 1200px) {
		.navbar-expand-xl {
			flex-wrap: nowrap;
			justify-content: flex-start;

			.navbar-nav {
				flex-direction: row;

				.dropdown-menu {
					position: absolute;
				}

				.nav-link {
					padding-right: 0.5rem;
					padding-left: 0.5rem;
				}
			}

			.navbar-nav-scroll {
				overflow: visible;
			}

			.navbar-collapse {
				display: flex !important;
				flex-basis: auto;
			}

			.navbar-toggler {
				display: none;
			}
		}
	}

	@media (min-width: 1400px) {
		.navbar-expand-xxl {
			flex-wrap: nowrap;
			justify-content: flex-start;

			.navbar-nav {
				flex-direction: row;

				.dropdown-menu {
					position: absolute;
				}

				.nav-link {
					padding-right: 0.5rem;
					padding-left: 0.5rem;
				}
			}

			.navbar-nav-scroll {
				overflow: visible;
			}

			.navbar-collapse {
				display: flex !important;
				flex-basis: auto;
			}

			.navbar-toggler {
				display: none;
			}
		}
	}

	.navbar-expand {
		flex-wrap: nowrap;
		justify-content: flex-start;

		.navbar-nav {
			flex-direction: row;

			.dropdown-menu {
				position: absolute;
			}

			.nav-link {
				padding-right: 0.5rem;
				padding-left: 0.5rem;
			}
		}

		.navbar-nav-scroll {
			overflow: visible;
		}

		.navbar-collapse {
			display: flex !important;
			flex-basis: auto;
		}

		.navbar-toggler {
			display: none;
		}
	}

	.navbar-light {
		.navbar-brand {
			color: rgba(0, 0, 0, 0.9);

			&:hover,
			&:focus {
				color: rgba(0, 0, 0, 0.9);
			}
		}

		.navbar-nav {
			.nav-link {
				color: rgba(0, 0, 0, 0.55);

				&:hover,
				&:focus {
					color: rgba(0, 0, 0, 0.7);
				}

				&.disabled {
					color: rgba(0, 0, 0, 0.3);
				}
			}

			.show > .nav-link,
			.nav-link.active {
				color: rgba(0, 0, 0, 0.9);
			}
		}

		.navbar-toggler {
			color: rgba(0, 0, 0, 0.55);
			border-color: rgba(0, 0, 0, 0.1);
		}

		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
		}

		.navbar-text {
			color: rgba(0, 0, 0, 0.55);

			a {
				color: rgba(0, 0, 0, 0.9);

				&:hover,
				&:focus {
					color: rgba(0, 0, 0, 0.9);
				}
			}
		}
	}

	.navbar-dark {
		.navbar-brand {
			color: #fff;

			&:hover,
			&:focus {
				color: #fff;
			}
		}

		.navbar-nav {
			.nav-link {
				color: rgba(255, 255, 255, 0.55);

				&:hover,
				&:focus {
					color: rgba(255, 255, 255, 0.75);
				}

				&.disabled {
					color: rgba(255, 255, 255, 0.25);
				}
			}

			.show > .nav-link,
			.nav-link.active {
				color: #fff;
			}
		}

		.navbar-toggler {
			color: rgba(255, 255, 255, 0.55);
			border-color: rgba(255, 255, 255, 0.1);
		}

		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
		}

		.navbar-text {
			color: rgba(255, 255, 255, 0.55);

			a {
				color: #fff;

				&:hover,
				&:focus {
					color: #fff;
				}
			}
		}
	}
}
.visitas_outer_container {
	.tippy-content {
		.actions_div_multiselect {
			button {
				max-width: calc(100% - 0.5em);
			}
		}
		@media (max-width: 768px) {
			.actions_div_multiselect {
				transform: scale(1.2);
				max-width: calc(100% - 1em);
			}

			.actions_div {
				--tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
				--tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color) !important;
				box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
				background: white;
				background: white;
				padding: 0.3em;
				border: 1px solid #eee;
				border-radius: 0.2em;
				transform: scale(1.4);
				li {
					margin-top: 0.3em;
				}
			}
		}
	}
}
.solicitud_modal_edition {
	@media (max-width: 768px) {
		height: 130px;
		&.section_motivo {
			height: 100px;
		}
	}
	.form-control[readonly] {
		background-color: unset;
	}
	.agendada_slot,
	.ejecucion_slot {
		&.invalid {
			&::after {
				content: "Se requiere una fecha";
				color: red;
				position: absolute;

				max-width: fit-content;
				display: block;
				min-width: fit-content;
				right: 0;

				font-size: 0.9em;
			}
		}
	}

	.agendada_slot {
		&.invalid {
			&::after {
				transform: translate(-37%, -1.5em);
			}
		}
	}
	.ejecucion_slot {
		&.invalid {
			&::after {
				transform: translate(-35%, -1.3em);
			}
		}
	}
}
.main-wrapper {
	.visitas_container {
		.bootstrap-table.bootstrap5 {
			& > .justify-content-between.flex {
				flex-wrap: wrap;
				& > .fixed-table-pagination {
					justify-content: space-between;
					@media (max-width: 1200px) {
						flex-basis: 100%;
					}
					.pagination-detail {
						//margin-top: 0;
					}
					.pagination {
						//margin-top: 0;
					}
				}
				& > .fixed-table-toolbar {
					display: flex;
					justify-content: space-between;
					@media (max-width: 1200px) {
						flex-basis: 100%;
						.columns {
							width: 200px;
						}
						.bs-bars {
							width: calc(100% - 250px);
						}
					}
					@media (max-width: 576px) {
						flex-basis: 100%;
						.columns {
							width: 120px;
						}
						.bs-bars {
							width: calc(100% - 150px);
						}
					}
					align-items: center;
					.bs-bars {
						display: inline-flex;
						margin-top: 0;
						margin-bottom: 0;

						@media (max-width: 1200px) {
							& > div {
								display: flex;
								justify-content: flex-start !important;
							}
						}
					}
				}
			}
		}
	}
	&.active {
		.visitas_container {
			.bootstrap-table.bootstrap5 {
				& > .justify-content-between.flex {
					& > .fixed-table-pagination {
						@media (max-width: 1310px) {
							flex-basis: 100%;
						}
					}
					& > .fixed-table-toolbar {
						@media (max-width: 1310px) {
							flex-basis: 100%;

							.columns {
								width: 220px;
							}
							.bs-bars {
								width: calc(100% - 250px);
								flex-grow: 1;
								& > div {
									justify-content: flex-start !important;
									display: flex;
								}
							}
						}
					}
				}
			}
		}
	}
}
.visitas_container {
	.bootstrap-table.bootstrap5 {
		& > div.fixed-table-container.fixed-height.has-card-view > div.fixed-table-body > .fixed-table-border {
			max-width: calc(100vw - 0.2em) !important;
		}

		div.fixed-table-pagination {
			.pagination-detail {
				//margin-top: 0;
			}
			.pagination {
				//margin-top: 0;
			}
			@media (max-width: 768px) {
				div.pagination-detail {
					max-width: 50%;
					display: flex;
					align-items: center;
					.page-list {
						width: 60px;
						text-overflow: clip;
						max-width: 60px;
						white-space: nowrap;

						& > span {
							display: none;
						}
					}
					.pagination-info {
						display: none;
						max-width: calc(100% - 70px);
						line-height: unset;
						padding-left: 0.5em;
					}
				}
			}
		}
		.sticky-header-container {
			.th-inner {
				font-size: 0.85em;
			}
			th.direccion_y_nombre {
				@include mixins.sticky_left;
			}
			th.nombre_text {
				@include mixins.sticky_left;
				text-align: left;
			}
		}
		.fixed-table-container {
			th.direccion_y_nombre {
				@include mixins.sticky_left;
			}
			th.nombre_text {
				@include mixins.sticky_left;
				top: 0;
				z-index: 140;
			}
			.fixedBody {
				position: relative;
				z-index: -1;
				tr:nth-child(odd) {
					background: #fafafa;
					background-color: hsla(34deg, 10%, 90%, 0.9) !important;
				}
				tr:nth-child(even) {
					background-color: hsla(134deg, 10%, 100%, 0.9) !important;
				}
			}
			& > div.fixed-columns {
				& > div.fixed-table-body {
					& > table {
						& > tbody {
							& > tr {
								& > td {
									&.col-fecha {
										white-space: nowrap;
									}
								}
							}
						}

						& > thead {
							background-color: #f5f5f5;
							& > tr {
								& > th {
									background-color: #fff;
								}
							}
						}
					}
				}
			}
			&.has-card-view {
				& > div.fixed-table-body {
					& > table {
						& > tbody {
							& > tr {
								border-color: transparent;
							}
							@media (max-width: 768px) {
								tr {
									border: 0 none !important;
									border-color: transparent !important;
									td {
										padding-left: 0 !important;
										padding-right: 0 !important;
									}
								}
							}
						}
					}
				}
			}

			div.fixed-table-body {
				@media (max-width: 768px) {
					.fixed-table-loading {
						display: none;
						&.open {
							display: block;
							width: 98vw !important;
							margin: 0 auto;
							position: relative;
							.loading-wrap {
							}
							.animation-wrap {
								.animation-dot {
									padding: 0;
								}
							}
						}
					}
				}
				table {
					thead {
						@include mixins.bootstrap-table-thead;
					}

					tbody {
						@include mixins.bootstrap-table-tbody;
					}
				}
			}
		}
		.fixed-table-toolbar {
			.export.btn-group,
			.keep-open.btn-group {
				@media (max-width: 768px) {
					display: none;
				}
			}

			.columns {
				&.columns-right {
					margin-top: 0.2em;
					.btn-group {
						.float-right {
							float: left !important;
						}
						&.keep-open {
							.dropdown-menu {
								min-width: 45rem;
								box-shadow: 0 1rem 0.7em 1px rgb(0 0 0 / 38%) !important ;
								&.show {
									display: flex;
									flex-wrap: wrap;
									font-size: 0.9em;
									label.dropdown-item {
										font-size: 1em;
										display: flex;
										align-self: center;
										padding-left: 0 !important;
										padding-right: 0 !important;
										padding-top: 0 !important;
										padding-bottom: 0 !important		;
										flex-basis: 33%;
										height: 35px;
										border: 1px solid #eee;
										& > span {
											display: flex;

											width: 100%;
											height: 100%;

											font-size: 13px;
											align-items: flex-start;
											justify-content: flex-start;
											padding: 5px 10px 10px 15px;
										}
										input[type="checkbox"] {
											display: none;
										}

										input[type="checkbox"]:not(:checked) + span {
											color: #333;
											background-color: white;

											&:before {
												content: "\f070";
												@include mixins.colvis;
												display: inline-block;
												width: 1em;
												height: 1em;
												margin-right: 0.5em;
												color: #333;
											}
											&:hover {
												background-color: #eee;
											}
										}

										input[type="checkbox"]:checked + span {
											color: #fff;
											background-color: rgb(59 130 246 / var(--tw-bg-opacity));
											&:before {
												content: "\f06e";
												@include mixins.colvis;
												display: inline-block;
												display: inline-block;
												width: 1em;
												height: 1em;
												margin-right: 0.5em;
												color: white;
											}
											&:hover {
												background-color: #63a1f5;
											}
										}
									}
								}
							}
						}
					}
				}
			}

			button {
				max-height: 2.8em;
			}
			@media (max-width: 768px) {
				.visitas_mass_edition_button {
				}
				& > div.bs-bars,
				& > div.columns {
					margin-top: 0;
					margin-bottom: 0;
				}
			}
		}
	}
}
